<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bagEcore -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="bag.model.bagEcore.presentation.BAGEcoreModelWizardID"
            name="%_UI_BAGEcoreModelWizard_label"
            class="bag.model.bagEcore.presentation.BAGEcoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BAGEcoreModelFile.gif">
         <description>%_UI_BAGEcoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bagEcore -->
      <editor
            id="bag.model.bagEcore.presentation.BAGEcoreEditorID"
            name="%_UI_BAGEcoreEditor_label"
            icon="icons/full/obj16/BAGEcoreModelFile.gif"
            extensions="bagecore"
            class="bag.model.bagEcore.presentation.BAGEcoreEditor"
            contributorClass="bag.model.bagEcore.presentation.BAGEcoreActionBarContributor">
      </editor>
   </extension>

</plugin>
